.hero {
  height: 100dvh;
  position: relative;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1.125);
  }
}

.imageText {
  background-image: url("../public/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.constrainedLayout {
  @apply mx-auto;
  max-width: 1240px;
}

.overlay {
  @apply rounded-md;
  background-color: rgba(0, 0, 0, 0.35);
  height: 100%;
  width: 100%;
}

.cardContent {
  @apply flex items-center justify-evenly flex-col p-4 text-muted;
  height: 100%;
}

.card {
  @apply flex flex-col justify-center items-center rounded-md max-w-md h-72 relative shadow-md;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  @apply rounded-full font-semibold text-base px-12 py-2 bg-green-500 hover:bg-green-300 transition duration-500 text-black;
}
